.dash-card {
  padding: 20px;
}

.section {
  padding-top: 20px;
}

.middle {
  background-color: white;
}

.dash-card > h3 {
  text-align: center;
  color: #B1B2FF;
}

.dash-card  {
  padding-top: 10px;
  text-align: center;
  color: #AAC4FF;
}

.button-dash {
  text-align: center;
  margin: 30px;
}

.row {
  height: 100%;
}

.col {
  min-height: 85vh;
}

.events-card{
  height: 100%;
  background-color: white;
  color: #B1B2FF;
}

.event-card {
  display: flex;
  background-color: #AAC4FF;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.card-link {
  text-decoration: none;
  color: white;
}

.friend {
  display: flex;
  align-items: center;
}

.pending-friends {
  border-top: 1px solid rgb(210, 218, 255);
  padding-top: 20px;
}

.friend-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid, .fas {
  margin-left: 10px;
}
