.dash-card {
  padding: 20px;
}

.dash-card > h3 {
  text-align: center;
  color: #B1B2FF;
}

.dash-card  {
  padding-top: 10px;
  text-align: center;
  color: #AAC4FF;
}

.button-dash {
  text-align: center;
  margin: 30px;
}

.row {
  height: 100%;
}

.col {
  min-height: 85vh;
}

.events-card{
  height: 100%;
  background-color: white;
  color: #B1B2FF;
}

.event-card {
  display: flex;
  background-color: #AAC4FF;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.accept-decline {
  display: flex;
  justify-content: space-between;
}

.card-link {
  text-decoration: none;
  color: white;
}
