@import 'bootstrap/scss/bootstrap';
 body {
  background-color: #EEF1FF;
 }
.form-inputs {
  margin-top: 15px;
  border-radius: 5px;

  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: grey;
}
.event-container {
  display: flex;
}
.layout {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-and-map {
  margin-right: 150px;

}


input[name="event[title]"] {
  width: 400px;
  margin-left: 3px;
  background-color: #f0e8d4;
  border-color: grey;
  border-radius: 5px;
}

input[name="event[description]"] {
  width: 400px;
  margin-left: 3px;
  padding-bottom: 50px;
  overflow: wrap;
  background-color: #f0e8d4;
  border-color: grey;
  border-radius: 5px;
}


input[name="event[location]"] {
  width: 400px;
  margin-left: 3px;
  height: 50px;
  background-color: #f0e8d4;
}

input[name="commit"] {
  width: 400px;
  margin-left: 3px;
  height: 50px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;

}
.card-text {
  margin: 0;
}

.form-label {
  text-align: center;
}
.event-cards {
  background-color: #f0e8d4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.body {
  background-color: #F4F4F4;
}

.image {
  text-align: left;
  width:250px;
  height: 196px;

}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

#map {
  margin-top: 20px;
  height: 410px;
  width: 410px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
}
