/*This is for container of the page */
.form-top {
  display: flex;
  justify-content: space-between;
}

#edit-events-container {
  width: 100%;
  position: absolute;
  display: flex;
 }

 /*This is for left container of the page. It holds the events and the form */
 #edit-events-left-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
 }

//  works for displaying inputs
.form-inputs-edit {
  color: #B0B2FE;
 }

input[name="event[title]"] {
  width: 350px;
  background-color: #AAC4FF;
  color: white;
 }

input[name="event[description]"] {
  width: 350px;
  height: 90px;
  overflow: wrap;
  background-color: #AAC4FF;
  color: white;
 }

select {
  height: 50px;
  width: 77px;
  background-color: #AAC4FF;
  margin-bottom: 10px;
  color: white;
 }

input[name="event[location]"] {
  width: 418px;
  height: 50px;
  background-color: #AAC4FF;
  color: white;
 }


input[name="commit"] {
  width: 50%;
  height: 50px;
 }

 /*This is for the event cards*/

#edit-events-events {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
 }

 #edit-events-events > .edit-events-card {
  width: 200px;
  height: 150px;
 }

 .card-text {
  font-size: 18px;
  text-align: center;
  color:#B0B2FE;
  margin: 0;

 }

 .card-title {
  font-size: 20px;
  text-align: center;
  color: #B0B2FE;
 }

 .card-haha {
  width: 50%;
 }

 .card-haha img {
  height: 125px;
  width: 150px;
 }

//  map correct width
 #edit-events-right-container{
  width: 50%;
 }

// map correct height
 #map {
  height: 625px;
 }

// closer look link
.card-linkx {
  color: #B0B2FE;
}
// closer look and select location link
.card-text-bottom {
  text-align: center;
  margin-left: 50px;
}
