// Specific CSS for your home-page

// .dashboard-page {
//   display: flex;
//   align-items: stretch;
//   justify-content: space-around;
// }

.dash-card {
  border-radius: 10px;
  border: solid 1px #ba3c07;
  padding: 20px;
}

.dash-card > h2, h3 {
  text-align: center;
}

.button-dash {
  text-align: center;
  margin: 20px;
}

.event-card {
  border-radius: 10px;
  border: solid 1px lightgrey;
  padding: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
