.tab-selected {
  font-weight: bold;

}

.flex-cards-budget {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 100px;

}

.flex-cards-preference {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 25px;
}
