<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://media2.giphy.com/media/31PYPTCdRut1qEJLqa/giphy.gif?cid=790b76116a103af7eb9b37d13314f07d99f97e19cac933f4&rid=giphy.gif&ct=g");">
  <div class="container">
    <h1>Meet your <strong>Friends </strong> has never been<strong> so easy</strong>!</h1>
    <p>Organize activities for you and your friends in two clicks.</p>
  </div>
</div>


<div class="card-container">

  <p id="title-landing">Have fun moment with yout friend </p>

  <div class="card-product">
    <p class="odometer" id="odometer"><span style="vertical-align: middle">0</span></p>
    <div class="card-product-infos">
      <h2><b> Join our community</b></h2>
      <p>NYAN has already a strong community who organize events every day. Don't wait anymore...</p>
    </div>
  </div>

  <br>

  <div class="card-product">
    <div class="card-product-infos">
      <h2>Discover "NYAN" AI Robot</h2>
      <p>NYAN has developed over the last few years the best AI Robot to find the best event for you and your friends. Let's discover it ... </p>
    </div>
    <img src="https://images.unsplash.com/photo-1531837763904-5d3cb2632ea3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1030&q=80">
  </div>
  <br>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1522543558187-768b6df7c25c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
    <div class="card-product-infos">
      <h2><b>Meet your friends. That's it!</b></h2>
      <p>Organizing event with friends can be long and complex. NYAN helps you by managing all the organisation. Invite your friends is the only think you have to do! That's it!</p>
    </div>
  </div>

  <br>
</div>
