
  <footer class="text-center text-white">
      <div class="container p-4">
        <section class="mb-4">
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/oliviap103" role="button"
            ><i class="fab fa-github"></i
          >Olivia Patterson</a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/kmstheodore" role="button"
            ><i class="fab fa-github"></i
          >Theo Simpson</a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/jcpiette" role="button"
            ><i class="fab fa-github"></i
          >Jean-Charles Piette</a>
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/pjgomes85" role="button"
            ><i class="fab fa-github"></i
          >Paulo Gomes</a>
        </section>
        <section class="mb-1">
          NYAN 2022
        </section>
      </div>
    </footer>
