<div id="<%= dom_id notifcation %>">
  <p>
    <strong>Message:</strong>
    <%= notifcation.message %>
  </p>

  <p>
    <strong>Is read:</strong>
    <%= notifcation.is_read %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notifcation.user_id %>
  </p>

</div>
