  <%
=begin %>
  <p>test popover</p>
  <% @notifications.each do |notification| %>
    <div id="<%= notification.id %>">
      <p>
        <strong>Message:</strong>
        <%= notification.message %>
      </p>

      <p>
        <strong>Is read:</strong>
        <%= notification.is_read %>
      </p>

      <p>
        <strong>User:</strong>
        <%= notification.user_id %>
      </p>

    </div>
  <% end %>
  <%
=end %>
