<h1>Editing notifcation</h1>

<%= render "form", notifcation: @notifcation %>

<br>

<div>
  <%= link_to "Show this notifcation", @notifcation %> |
  <%= link_to "Back to notifcations", notifcations_path %>
</div>
