<div class="user-settings-container">

  <%= render "shared/userMenu" %>

  <div class="user-settings-notification">
    <h1>Notification</h1>
    <br>
    <%= simple_form_for(current_user, url: user_address_path(current_user)) do |f| %>
      <%= f.error_notification %>

      <label for="street">Street</label><br>
      <input type="text" id="street" name="street" value=""><br>

      <label for="postcode">Post Code</label><br>
      <input type="text" id="postcode" name="postcode" value=""><br>

      <label for="city">City</label><br>
      <input type="text" id="city" name="city" value=""><br>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
