<div class="user-settings-container">

  <%= render "shared/userMenu" %>

  <div class="user-settings-notification">
    <p>Hello Preferences</p>
    <form action="">
      <label for="fname">Address 1</label><br>
      <input type="text" id="fname" name="fname" value=""><br>

      <label for="lname">Address 2</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br>

      <label for="fname">Post Code</label><br>
      <input type="text" id="fname" name="fname" value=""><br>

      <label for="fname">City</label><br>
      <input type="text" id="fname" name="fname" value=""><br>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>
