<div>
  <% if user_signed_in? %>
    <%= render "pages/home/dashboard" %>
    <%#  this does not work fix!!<%= render "pages/home/addFriendButton" %>
  <% else %>
    <p>Homepage</p>
  <% end %>
</div>
