<div>
  <% if user_signed_in? %>
    <p>You are <strong>on the dashboard</strong> page</p>
    <%= render "pages/home/dashboard" %>
    <%#  this does not work fix!!<%= render "pages/home/addFriendButton" %>
    <%= link_to "Add Friend", new_user_user_friend_path(current_user) %>
  <% else %>
    <p>hello world!</p>
  <% end %>
</div>

<div id="fb-root">
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v14.0&appId=459126962909604&autoLogAppEvents=1" nonce="BtvHtB5m"></script>
  <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false"></div>
</div>
