<div class="user-settings-container">

  <%= render "shared/userMenu" %>

  <div class="user-settings-notification">
    <h1>Notification</h1>
    <br>
    <%= simple_form_for(current_user, url: user_notification_path(current_user)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="friendRequest" checked>
          <label class="form-check-label" for="friendRequest">Friend Request</label>
        </div>
        <br>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="eventInvite">
          <label class="form-check-label" for="eventInvite">Event Invite</label>
        </div>
        <br>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="inviteStatus" checked>
          <label class="form-check-label" for="inviteStatus">Invite Sent Status</label>
        </div>
        <br>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="eventUpdate">
          <label class="form-check-label" for="eventUpdate">Event Update</label>
        </div>
      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
