<div class="user-settings-container">

  <%= render "shared/userMenu" %>

  <div class="user-settings-notification">
    <p>Hello Notification</p>
    <form action="">
      <label for="fname">Friend Invite</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>

      <label for="lname">Event Invite</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>

      <label for="fname">Event Update</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>

      <label for="fname">Invitation Status</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>
