.btn-dash {
  border-radius: 10px;
  border: solid 1px #36395E
  color: #36395E;
  padding: 5px;
  text-decoration: none;
  background-color: white;
}

.btn-dash:hover {
  color: white;
  background-color: #36395E;
  transition: 0.3s;
}
