.btn-dash {
  border: solid 1px rgb(177, 178, 255);
  color: rgb(177, 178, 255);
  padding: 10px;
  text-decoration: none;
  background-color: white;
}

.btn-dash:hover {
  color: white !important;
  background-color: rgb(177, 178, 255) !important;
  transition: 0.3s;
}

.btn-dash-go {
  color: white;
  background-color: rgb(177, 178, 255);
  border: solid 1px rgb(177, 178, 255);
  padding: 10px;
  text-decoration: none;
}
