@import 'bootstrap/scss/bootstrap';


.layout {
  width: 50%;
  height: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;
}
