


.layout {
  width: 1366px;
  height: 768px;
  margin-top: 10px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

img {
  height: 100px;
  width: 100px;
}
