
#1 {
  border-style: solid;
  border-color: red;
}

.clickable {
  padding: 40px;
  width: 220px;
  border: 1px solid #dedede;
  color: #a0a0a0;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.clickable {
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.clickable p {
  font-size: 24px;
  margin-bottom: 10px;
}

.clickable:hover p {
  color: #52ACF4;
}

.clickable.active {
  color: inherit;
  border-color: inherit;
}

.clickable.active p {
  color: #52ACF4;
}



.layout {
  width: 1366px;
  height: 768px;
  margin-top: 10px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
