.nyan-navbar {
  background-color: #AAC4FF;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.me-auto {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 0 !important;
}

.nav-title {
  display: flex;
  align-items: center;
  color: white;
}

.nav-title > h3 {
  margin-left: 10px;
}

.info {
  border-radius: 10px;
}

.fa-bell {
  color: #0c2345;
}

.btn-info {
  background-color: white !important;
  border-color: white !important;
  margin-bottom: 20px;
}

.badge-light {
  color: #0c2345 !important;
}

.login{
  background-color: white;
  color: #AAC4FF;
}

.signup {
  color: white;
  border: 1px solid white !important;
}
