.user-settings-container {
  display: flex;
  background-color: white;
}

.user-settings-sub-info {
padding-left: 35px;
}

.user-settings-container .user-settings-menu {
  position: sticky;
  top: 0;

}

.dropdown-item:hover {
  text-decoration: underline;
}

.user-settings-menu {
  background-color: #EEF1FF;
}

input[type=radio] {
  display: none;
}

input[type=radio]:not(:disabled) ~ label {
  cursor: pointer;
}
input[type=radio]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

input[type=radio]:checked + label {
  color: #B1B2FF;
  border-color: #B1B2FF;
}
