<h1>Editing user friend</h1>

<%= render "form", user_friend: @user_friend %>

<br>

<div>
  <%= link_to "Show this user friend", @user_friend %> |
  <%= link_to "Back to user friends", user_friends_path %>
</div>
